.encabezado{
    background-color: #116B11;
    padding: 15px;
}

.encabezado h1{
    text-align: center;
    font-family: 'Caveat', cursive;
    color: #F7EB3B;
    font-size: 5rem;
}

nav{
    margin-top: 4px;
    padding: 2px;
    text-transform: uppercase;
    text-align: center;
}

nav a{
    color: #FFF;
    padding: 10px;
    text-decoration: none;
}

nav a:hover{
    color:#F7EB3B;
    text-decoration: underline;
    font-size: 17px;
}

#parrhome{

    border: 3px solid green;
 
}
.redes{
    width: 2vw;
    padding: 1.5%;
    margin: 4px 4px 5px 4px;
}
footer{
    text-align: center;
    margin-top: 4vw;
    background-color: #116B11;
}
/*ajustes en home grid*/
.redes:hover{
    color:#7a7a78;
    width: 23px;

}
.padre{
    display: grid;
    grid-gap: 20px 20px;
    grid-template-columns: 100%;
    height: 100%;
    grid-template-rows: 1em  10fr;
    
    background-color: rgb(250, 250, 250);
    
    
}
.hijo{
    background: #ffffff;
    padding: 10px;
    color: rgb(1, 8, 14);
    text-align: center;
    overflow: auto;
    font-size: 1.2rem;
}
.video {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: stretch;
    width: calc(100% - 1rem);
}

.api {
    background: #ffffff;
    text-align: center;
    font-size: 1.4rem;
}
.boton-form{ 
    background-color: #116B11;
    justify-content: center;
    width: 100%;
    border: #FFF;
    color: #FFF;
} 
.formulario{
    text-align: center;
}
.formulario{
    margin: 10%;
    background-color: background: rgb(228,197,34);
    background: radial-gradient(circle, rgba(228,197,34,1) 0%, rgba(227,225,146,1) 100%);
    padding: 60px;
    border-radius: 30px;
    text-align: center;
    
}

/*Estilos para pagina about*/

.center{
    text-align: center;
    font-size: 2em;
}

.div-img {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 95vw;
    height: 20%;
    margin: 10px auto;
    padding: 15px;
    gap: 15px;
}

.img-ab{
    width: 40%;
}

.fig-img{
   text-align: justify;
}

.lista-senderos{
    list-style-type: square;
    margin-top: 5px;
    margin-left: 22px;
}


@media screen and (max-width: 600px) {
    .div-img {
        flex-direction: column;
    }

    .div-reverse{
        flex-direction: column-reverse;
    }

    .img-ab{
        width: 100%;
    }

}
